


@keyframes player-jump {
    0% { background-position:  254px 0px; }
    100% { background-position:  -40px 0px; }
    
  } 

  @keyframes player-run {
    0% { background-position:  254px 140px; }
    100% { background-position:  -161px 140px; }
    
  } 

  @keyframes player-stop {
    0% { background-position:  -20px 78px; }
    100% { background-position:  120px 78px; }
  } 

@keyframes fondo {
    0% { background-position:  0 0; }
  100% { background-position: -960px 0; }
  
  } 
  
  @keyframes romper-caja {
    0% { background-position:  0 0; }
  100% { background-position:  -420px 0; }
  
  }  

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #131313;
}

.fondo{
    position: absolute;
    height: 100%;
    width: 100%;
}
#player{
    position: absolute;
    margin-top: 348px;
    margin-left: 258px;
    width: 65px;
    height: 70px;
    background: url('../img/batman2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 254px 280px; 
    /* to 150 from -250*/
    /* 943x650 */
    z-index: 8;
}

#back8, #back7, #back6, #back5, #back4, #back3, #back2, #back1{
    position: absolute;
    width: 960px;
    height: 540px;
    background-repeat: repeat-x;
    background-size: 100%;
    overflow: hidden;
    
}
#btn-accion{
   
    z-index: 10;
}
#fondo-inicio{
    background: url('../img/fondo-inicio.jpg');
    position: absolute;
    width: 960px;
    height: 540px;
    background-size: 100%;
    z-index: 9;
}
.btn-options{
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-size: 100%;
    background-color: rgb(219, 218, 214);
    font-weight: bolder;
}
#btn-list{
    padding-left: 500px;
    padding-top: 100px;
    position: absolute;
    z-index: 10;
    list-style: none;
}
#btn-list li{
    margin-bottom: 10px;
}

audio{
    width: 100px;
    height: 50px;
}
#reproductor{
    float: right;
    background-image: url(../img/playmusic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 64px;
    width: 60px;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 13;
}
#puntaje{
    float: left;
    height: 30px;
    width: 200px;
    display: block;
    position: relative;
    z-index: 13;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px;
    margin: 0px;
}


#principal{
    width: 960px;
    height: 540px;
    overflow-x: hidden;
}

.enemigo{
    position: absolute;
    margin-top: 340px;
    margin-left: 1000px;
    width: 60px;
    height: 60px;
    background: url('../img/box2.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 410px 0px;
    /* to 150 from -250*/
    /* 943x650 */
    z-index: 7;
    overflow: hidden;
}  
#instrucciones{
    position: absolute;
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid grey;
    width: 296px;
}

#vidas{
    position: relative;
    z-index: 13;
}
#vidas img{
    width: 10%;
    height: 10%;
}

#resultado{
    position: absolute;
    display: none;
}