body{
  height: 100%;
  position: absolute;
  background-color: rgb(28, 17, 41) !important;
}

.panel-lateral{
  padding-top: 10px;
  height: 100%;
  background-color: rgb(28, 17, 41);
}

.panel-central{
  padding-top: 10px;
  height: 100%;
  background-color: rgb(200, 195, 160);
  border-radius: 15px 0px 0px 0px;
  border: 2px solid #a1a1a1;
}

.button-filtro{
  width: 80%;
  margin-bottom: 5px;
}
.filter-opt p{
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;
}

.filter-opt{
  background-color: #a1a1a1 ;
}

.filter-opt:hover{
	background-color: white;
	cursor: pointer;
}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
#canvas{
  border:#000 solid 1px;
  background-color: white;
}

.img-principal , .img-mini{
	padding-bottom: 10px;
	padding-top: 10px;
}

#canvas-mini{
  border:#000 solid 1px;
  background-color: white;
}

#logo img{
  width: 50px;
  height: 50px;
  display: block;
  align-items: center;
}
#toolbar{
  height: 100%;
  padding: 10px;
}

#img-input {
    display: none;
}
.button-toolbar {
    border: 1px solid #FFF;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	color: white;
	background-color: transparent;
	font-weight: 700;
	margin-right: 15px;
}

#btn-download{
  text-decoration: none;
}
.button-toolbar:hover{
  color: transparent;
  text-shadow: 2px -2px white;
}

header{
  height: 60px;
  background-color: rgb(28, 17, 41);
}
#logo{
  float:left;
  padding: 10px;
  height: 100%;
}
