body{
  height: 100%;
  position: absolute;
}

.panel-lateral{
  padding-top: 10px;
  height: 100%;
  background-color: rgb(28, 17, 41);
}

.panel-central{
  padding-top: 10px;
  height: 100%;
  background-color: rgb(63, 61, 66);
}

.button-filtro{
  width: 80%;
  margin-bottom: 5px;
}
#canvas-mini{
  border:#000 solid 1px;
}
