body{
  //background-image: url("../images/nubes.jpg");
  background-color: rgb(30, 128, 115);
  background-repeat: repeat;
}

.menu{
  height: 50px;
  border-bottom:  4px solid rgb(209, 90, 64);
}

.juego{
  align-items: center;
}
